#fh5co-about .fh5co-social-icons {
    margin: 0;
    padding: 0;
  }
  #fh5co-about .fh5co-social-icons li {
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  #fh5co-about .fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #fff;
    background: #2F3C4F;
    padding: 10px 10px 2px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }
  #fh5co-about .fh5co-social-icons li a i {
    font-size: 20px;
  }
  #fh5co-about .fh5co-social-icons li a:hover {
    background: #FF9000;
  }